:root {
  --turquoise0: hsl(189, 100%, 96%);
  --turquoise1: hsl(189, 77%, 86%);
  --turquoise2: hsl(189, 83%, 81%);
  --turquoise3: hsl(187, 87%, 76%);
  --turquoise4: hsl(194, 93%, 72%);
  --turquoise5: hsl(189, 97%, 72%);
  --turquoise6: hsl(189, 100%, 74%);
  --turquoise7: hsl(187, 81%, 55%);
  --turquoise8: hsl(187, 62%, 50%);
  --turquoise9: hsl(184, 90%, 40%);
  --turquoise10: hsl(184, 93%, 42%);
  --turquoise11: hsl(187, 94%, 28%);
  --turquoise12: hsl(189, 94%, 19%);
  --turquoise13: hsl(189, 97%, 15%);
  --turquoise14: hsl(194, 100%, 14%);
  --turquoise15: hsl(191, 100%, 7%);
  --turquoise16: hsla(184, 90%, 81%, 0.623);
  --red1: rgb(163, 7, 7);
  --shadow1: 3px 3px 12px rgba(0, 0, 0, 0.7);
  --shadow2: 2px 2px 10px rgba(0, 0, 0, 0.4);
  --shadow3: 2px 2px 7px rgba(0, 0, 0, 0.2);
  --transition: all 0.6s linear;
  --transition2: all 0.3s linear;
  --borderRadius: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  min-height: calc(100vh - 8rem);
  background-color: var(--turquoise0);
  padding-bottom: 10px;
}

a {
  color: var(--turquoise10);
  text-decoration: none;
  font-size: 1.5rem;
}
ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  margin: 5px auto;
  letter-spacing: 1px;
  color: var(--turquoise13);
}
h1 {
  font-size: 3rem;
}

header {
  margin: 0 auto;
  text-align: center;
}

.underline1 {
  height: 5px;
  width: 10rem;
  margin: 0 auto;
  background-color: var(--turquoise11);
}

.underline2 {
  height: 2px;
  width: 4rem;
  background-color: var(--turquoise11);
  transition: var(--transition2);
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--turquoise10);
  border-style: none;
  border-radius: var(--borderRadius);
  transition: var(--transition);
  text-transform: capitalize;
  background-color: transparent;
  font-size: 1.25rem;
}

.btn:hover {
  color: var(--turquoise8);
}

.section-center {
  margin: 3rem auto;
  width: 90vw;
  max-width: 1170px;
}
/* =================
    FOOTER  
=================== */

.footer {
  height: 4rem;
  background-color: var(--turquoise14);
  display: flex;
  justify-content: center;
}
.footer-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.social-media-link {
  font-size: 1.75rem;
  margin: 0 10px;
}

/* =================
    NAVBAR 
=================== */

.navbar {
  height: 4rem;
  position: relative;
  background-color: var(--turquoise14);
  display: grid;
  grid-template-columns: 30% 70%;
  place-items: center;
  z-index: 999;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.links-container,
.links-dropdown {
  width: 40%;
  padding-right: 1.5rem;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.links-dropdown {
  height: 0;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.link-item {
  margin: 10px;
  height: 100%;
  transition: var(--transition2);
}
.link-item:hover {
  border-bottom-color: var(--turquoise10);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.link-item a,
.link-item button {
  height: 100%;
}

.toggle-container {
  display: none;
}

.toggle-dropdown {
  font-size: 1.75rem;
  background-color: inherit;
  color: var(--turquoise1);
  margin: 10px;
}

.toggle-dropdown:hover {
  background-color: var(--turquoise7);
  color: white;
}

@media screen and (max-width: 992px) {
  .toggle-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1.5rem;
  }
  .toggle-dropdown {
    display: flex;
    padding: 5px;
  }
<<<<<<< HEAD
=======
  /* CHANGED LINKS CONTAINER TO DROPDOWN */
>>>>>>> 76ef6146e8d2d2f6940a703bd82ab795c799fc7b
  .links-dropdown {
    position: absolute;
    top: 4rem;
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--turquoise2);
    align-items: center;
    justify-content: center;
    transition: var(--transition);
  }

  .links {
    flex-direction: column;
  }
}

/* =============
      HOME
================ */

.main-page {
  position: relative;
  height: calc(100vh - 4rem);
  display: grid;
  grid-template-columns: 60% 40%;
}

.left-side {
  background-color: var(--turquoise16);
}

.hero-svg {
  position: absolute;
  left: 50%;
  top: 30%;
  height: 600px;
  width: 600px;
}

.services {
  padding: 2rem 0;
  background-color: white;
}

.services-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

@media screen and (max-width: 992px) {
  .main-page {
    grid-template-columns: auto;
  }
  .right-side {
    display: none;
  }
  .hero-svg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .services-center {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .services-center {
    grid-template-columns: 1fr;
  }
}

/* ===============
      SERVICE
================= */
.service {
  background-color: var(--turquoise6);
  height: 350px;
  width: 350px;
  margin: 15px;
  box-sizing: content-box;
  color: black;
  transition: var(--transition2);
  border-radius: var(--borderRadius);
  display: grid;
  place-items: center;
  padding: 1rem;
  box-shadow: var(--shadow2);
}
.service-logo {
  font-size: 2rem;
  color: black;
  transition: var(--transition2);
}

.service p,
.service h4 {
  transition: var(--transition2);
}

.service:hover {
  background-color: var(--turquoise14);
  box-shadow: var(--shadow1);
  padding: 1.2rem;
}

.service:hover .service-logo,
.service:hover p,
.service:hover h4 {
  color: white;
}

.service:hover .underline2 {
  background-color: white;
}

@media screen and (max-width: 640px) {
  .service {
    min-height: 30vh;
    width: 60vw;
    margin: 10px;
  }
}

/* ===========================
            Projects
  ============================= */

.featured-projects {
  min-height: 40vh;
  padding: 1rem 0;
}

.featured-projects-center {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  row-gap: 2rem;
}

.projects-btn {
  margin: 0 auto;
  background-color: var(--turquoise11);
  font-size: 1.75rem;
  padding: 5px 10px;
  color: var(--turquoise1);
  border-radius: 0.4rem;
}

.projects-btn:hover {
  background-color: var(--turquoise7);
  color: white;
}

/* ==============
      Project
================*/
.project {
  position: relative;
  margin: 2em 0;
}

.project-info {
  position: absolute;
  display: grid;
  top: 10%;
  min-height: 40vh;
  width: 35vw;
  background-color: white;
  z-index: 5;
  border-radius: var(--borderRadius);
  padding: 1.5rem;
  box-shadow: var(--shadow3);
}
.project-info p {
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  color: var(--turquoise11);
}

.project-info h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--turquoise10);
}

.project-info h5 {
  font-size: 1rem;
  color: var(--turquoise10);
  font-weight: 500;
}

.img-container {
  position: relative;
  height: 50vh;
  width: 40vw;
  background-color: grey;
  box-shadow: var(--shadow2);
}
.img-container img {
  height: inherit;
  width: inherit;
  border-radius: var(--borderRadius);
}

.img-overlay {
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--turquoise16);
  height: 100%;
  width: 100%;
  transition: var(--transition2);
}

.button-container {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-info a:hover {
  cursor: pointer;
}
.project:hover .img-overlay {
  background-color: transparent;
}

.leftInfo {
  transform: translateX(-30%);
}

.rightInfo {
  transform: translateX(30%);
}

.leftImg {
  transform: translateX(-20%);
}

.rightImg {
  transform: translateX(20%);
}

.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  height: 2rem;
  padding: 10px;
  margin: 0.5rem;
  border-radius: var(--borderRadius);
  align-items: center;
  justify-content: center;
  background-color: rgb(211, 209, 209);
}

@media screen and (max-width: 992px) {
  .img-container {
    height: 35vh;
    width: 90vw;
  }
  .project-info {
    position: relative;
    width: 90vw;
    min-height: 45vh;
  }

  .leftImg,
  .rightImg {
    transform: none;
  }

  .leftInfo,
  .rightInfo {
    transform: none;
  }
}

/* =============
      ABOUT
==================*/
.about-page {
  padding: 5px;
  min-height: calc(100vh - 8rem);
  display: grid;
  place-items: center;
}
.about-center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  place-items: center;
  height: 100%;
}

.hero-svg-about {
  height: 400px;
}

.info {
  margin: 2rem 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  color: rgb(80, 80, 80);
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

@media screen and (max-width: 992px) {
  .about-center {
    grid-template-columns: auto;
  }
  .hero-svg-about {
    height: 100%;
    width: 100%;
  }
}

/* ==============
      CONTACT
=================*/

.contact-page {
  height: calc(100vh - 8rem);
  display: grid;
  place-items: center;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  padding: 1rem;
}

.contact-form {
  background-color: white;
  row-gap: 0.8rem;
  width: 500px;
  border-radius: 0.5rem;
  box-shadow: var(--shadow2);
}

.form-btn {
  width: 100%;
  background-color: var(--turquoise11);
  height: 3rem;
  color: var(--turquoise2);
}

.form-btn:hover {
  background-color: var(--turquoise7);
  color: white;
}

.form-label {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--turquoise11);
}

.form-input {
  height: 2.5rem;
  border-style: none;
  background-color: rgb(227, 245, 250);
}

.form-input::placeholder {
  letter-spacing: 1px;
  font-size: 1.2rem;
  padding: 10px;
}

.message {
  border-style: none;
  background-color: rgb(227, 245, 250);
}
.message::placeholder {
  letter-spacing: 1px;
  font-size: 1.2rem;
  padding: 10px;
}

.form-container h2 {
  color: var(--turquoise11);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 640px) {
  .contact-form {
    width: 80vw;
  }
}
